{% extends 'myapp/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/login.css' %}" />
{% endblock %}

{% block header %}
    <header class="header">
        <div class="header-container">
            <div class='exit'><a href='{% url "index" %}' class='back-button'><</a></div>

            <span class="header-container__title">
                {% block header-title %}ログイン{% endblock %}
            </span>
        </div>
    </header>
{% endblock %}
{% block content %}
    <form action="{% url 'account_login' %}" method='post'>
        <div class='container'>
            {{ form.non_foeld_errors }}
            {% csrf_token %}
            {% for field in form %}
                <div class="form-elem">
                    <div class="label">
                        {{ field.label }}
                    </div>
                    <div class="field">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            {% if form.errors %}
            {% for item in form %}
            <div>
                {{ item.errors }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% if redirect_field_value %}
        <input type='hidden' name='{{ redirect_field_name }}' value='{{redirect_field_value}}' />
        {% endif %}
        <a class="reset-password" href="/accounts/password/reset/">Forgot Password?</a>
        <div><input type='submit' class='btn' value='ログイン'></div>
        </form>

{% endblock %}

{% block footer %}{% endblock %}