{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}">
{% endblock %}
{% block header-title %}友達{% endblock %}
{% block content %}
<div class="friend-search">
    <form class="search-form" action="{% url 'friends' %}" method="GET">
        <ul class="search-list">
            <li class="search-box-wrap">{{ form.search_name }}</li>
            <li class="search-btn-wrap" ><button class="search-btn" type="submit">検索</button></li>
        </ul>
    </form>
</div>
<ul class="friends">
{% for user in users %}
    <a href="{% url 'talk_room' user.id %}">
        <li class="friends-elem">
            <div class="friend-icon">
                <img src="media/{{user.icon}}"  alt="">
            </div>
            <div class="friend-info">
                <div class="friend-username">
                    {{user.username}}
                </div>
                <div class="message">
                    {% if user.message != None%}
                    <div class="message-text">
                        {{user.message}}
                    </div>
                    <div class="message-date">
                        {{user.date}}
                    </div>
                    {% endif %}
                </div>
            </div>         
        </li>
    </a>
{% endfor %}
</ul>

{% endblock %}
