{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
{% endblock %}
{% block header %}
<header class="header">
    <div class="header-container">
        <span class="exit">
            <a href="{% url 'setting' %}"><</a>
        </span>
        <span class="header-container__title">
            {% block header-title %}アイコン変更{% endblock %}
        </span>
    </div>
</header>
{% endblock %}
{% block content %}
<form action="{% url 'icon_change' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-elem">
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}
    <div class="btn-box">
        <button class="btn" type="submit">送信</button>
    </div>
</form>
{% endblock %}

