<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
    <title>login</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                ログイン
            </span>
        </div>
    </header>
    {% if form.errors  %}
    <div class="login-error-message">
        <span>ユーザーID, パスワードが一致しません．</span>
    </div>
    {% endif %}
    <form action="" method="post",enctype="multipart/form-data">{% csrf_token %}
        {% for field in form %}
            <div class="form-elem">
                <div class="label">
                    {{ field.label_tag }}
                </div>
                <div class="field">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="btn-box">
            <button class="btn" type="submit">ログイン</button>
        </div>

    </form>
</body>
</html>