{% extends 'myapp/base.html' %}
{% load static %}
{% block header %}
<header class="header">
    <div class="header-container">
        <span class="exit">
            <a href="{% url 'setting' %}"><</a>
        </span>
        <span class="header-container__title">
            {% block header-title %}パスワード変更{% endblock %}
        </span>
    </div>
</header>
{% endblock %}
{% block content%}
<form action="{% url 'password_change' %}" method="post">
    {% csrf_token %}
    <div class="old-password">
        <label for="">現在のパスワード：</label>
        {{ form.old_password }}
    </div>                                
    <div class="password1">
        <label for="">新しいパスワード：</label>
        {{ form.new_password1 }}
    </div>
    <div class="password2">
        <label for="">新しいパスワードの確認：</label>
        {{ form.new_password2 }}
    </div>
    <div><button class="btn" type="submit">送信</button></div>
</form>
{% endblock %}